.live_wrapper {
  background-color: black;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 70vh;
}

.live_container {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.live_action {
  position: absolute;
  width: 100%;
  height: 250px;
  bottom: 0;
  left: 0;
  perspective: 3000px;

  display: flex;
  flex-direction: column;
  gap: 0px;
  &__control {
    // background-color: red;
    height: 50px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &--left {
      display: flex;
      gap: 10px;
      align-items: center;
      button {
        padding: 5px;
        width: 80px;
        background-color: #ccc;
        border-radius: 5px;
        &.btn-primary {
          background-color: blue;
          color: white;
        }
      }
      &__cuoc {
        color: #ccc;
      }
      &__value {
        color: yellow;
      }
    }
    &--right {
      display: flex;
    }
  }
}
.d3 {
  margin: 1px auto;
  margin-bottom: -65px;
  // border-spacing: 0px;
  width: 80%;
  box-shadow: 5px 4px 30px rgba(0, 0, 0, 0.1);
  // border-radius: 10px;
  border: 1px solid #ffffff73;
  // overflow: hidden;

  transition: all 0.5s;
  transform: rotateX(60deg);
  transform-style: flat;
  display: flex;

  &__col {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    &__row {
      &--1 {
        border-width: 1px; // Độ dày của viền là 2px
        border-color: #ffffff73;
        border-style: solid;
        height: 90px;
      }
      &--2 {
        border-width: 1px; // Độ dày của viền là 2px
        border-color: #ffffff73;
        border-style: solid;
        height: 135px;
      }
    }
  }
}

.right__action {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  gap: 10px;
  &__phinh {
    width: 30px;
    height: 24px;
  }
  &__auto {
    width: 30px;
    height: 24px;
  }
}
