@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --text-primary: #0f679a;
  --background-color-1: #e0ebf982;
  --background-color-2: #91caea;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --text-primary: #0f679a;
    --background-color-1: #e0ebf982;
    --background-color-2: #91caea;
  }
}

@font-face {
  font-family: Microsoft JhengHei;
  src: url('/font/microsoft_jhenghei.ttf');
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: Arial, Microsoft JhengHei, Helvetica, sans-serif;
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

.container-custom {
  width: 1000px;
  margin: 0 auto;
}

.box-active-default {
  display: block;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tawk-flex.tawk-flex-center.tawk-text-center.tawk-padding-small {
  display: none !important;
}