.wrapper {
  background: url(/member/deposit/bg_pay.jpg) no-repeat center center;
  background-size: cover;
}

.content-header {
  border-bottom: 1px solid #d6d7d9;
}

.box-qr {
  width: 250px;
  height: 250px;
  border-radius: 20px;
  border: 2px solid #cfd8e5;
  position: relative;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;

  &::after {
    content: '';
    position: absolute;
    background-color: #fff;
    top: -2px;
    bottom: -2px;
    right: 30px;
    left: 30px;
  }

  &::before {
    content: '';
    position: absolute;
    background-color: #fff;
    right: -2px;
    left: -2px;
    top: 30px;
    bottom: 30px;
  }

  &__img {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.content-footer {
  border: 1px solid #e3464c;
  // display: flex;
  //   max-width: 100%;
  align-items: center;
  border-radius: 12px;

  &__box-icon {
    height: 74px;
    background-color: #e3464c;
    width: 100px;
    padding: 8px;
    margin-right: 20px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text {
    color: #e3464c;
  }
}

.steps {
  margin-top: 40px;

  &__item {
    position: relative;
    &--icon {
      width: 60px;
      height: 56px;
      background-size: cover;
      margin: 0 auto;
    }
  }
}
